langchain~=0.3.0
uvicorn~=0.30.6
fastapi~=0.115.0
openai-whisper~=20231117
llama-cpp-python~=0.2.88
transformers~=4.27.4
num2words~=0.5.12
anyascii~=0.3.2
jamo~=0.4.1
cn2an~=0.5.22
jieba~=0.42.1
pypinyin~=0.50.0
g2p-en~=2.1.0
mecab-python3~=1.0.9
pykakasi~=2.2.1
inflect~=7.0.0
six~=1.16.0
gruut~=2.2.3
torch~=2.4.1
librosa~=0.9.1
soundfile~=0.12.1
torchaudio~=2.4.1
numpy~=1.26.4
tqdm~=4.66.5
gradio~=4.44.0
click~=8.1.7
scipy~=1.14.1
loguru~=0.7.2
numba~=0.60.0
huggingface-hub~=0.23.5
setuptools~=75.1.0